html {
    background-color: darkgray;
}

body {
    width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #000000;
    color: white;
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 800px;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    margin: auto;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    height: 348px;
    display: flex;
    padding: 0 150px;
}

.font-light {
    font-weight: 300;
}

.descripcion {
    justify-content: space-between;
}

.descripcion img {
    width: 399px;
    height: 237px;
    object-fit: cover;
    margin-top: 45px;
}

.desc-texto {
    height: 197px;
    margin-top: 76px;
}

.descripcion p {
    width: 475px;
    font-size: 16px;
}

.sect-caracteristicas {
    background-color: hsl(38, 22%, 10%);
    padding-top: 75px;
    align-items: center;
    flex-direction: column;
}

.icons {
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.icons i {
    width: 30%;
    text-align: center;
}

.icon-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 25px;
}

.icon-text p {
    width: 30%;
    text-align: center;
}

.fa-big {
    font-size: 56px;
}

.galeria {
    gap: 16px;
    align-items: center;
}

.galeria img {
    height: 202px;
    width: 316px;
    object-fit: cover;
}

footer {
    height: 102px;
    background-color: #1E1A13;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}