h1 {
    color: gray;
    font-size: 40px;
}

.skills {
    color: green;
}


html {
    background-color: grey;
}

body {
    background-color: black;
    color: white;
    width: 80%;
    margin: 0 auto;
}

nav {
    margin-bottom: 16px;
    background-color: gainsboro;
}

nav a {
    display: inline-block;
    width: 15%;
    font-size: 24px;
    text-align: center;
    box-shadow: 2px 0px 2px 0px #2D64A8;
}

nav a:hover {
    background-color: green;
    color: white;
    box-shadow: 0px 0px 3px 3px rgb(161, 161, 161);
}